version: '3.7'

volumes:
  db_data:

x-shared_environment: &shared_environment
  LOG_LEVEL: ${LOG_LEVEL:-debug}
  DATABASE_HOST: db
  DATABASE_NAME: vapor_database
  DATABASE_USERNAME: vapor_username
  DATABASE_PASSWORD: vapor_password

services:

  api.doorsid.com-app:
    image: api.doorsid.com:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      - db
    ports:
      - '8070:8070'
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "8070"]

  api.doorsid.com-migrate:
    image: api.doorsid.com:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      - db
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0

  api.doorsid.com-revert:
    image: api.doorsid.com:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      - db
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0

  db:
    image: postgres
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: doors_database
      POSTGRES_USER: vapor_username
      POSTGRES_PASSWORD: vapor_password
    ports:
      - 5432:5432

  redis:
    image: 'bitnami/redis:5.0'
    restart: always
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      ALLOW_EMPTY_PASSWORD: 1
      REDIS_DISABLE_COMMANDS: FLUSHDB,FLUSHALL
    ports:
      - 6379:6379

  api.doorsid.com-nginx:
    container_name: api.doorsid.com-nginx
    image: nginx
    restart: always
    volumes:
      - "./default.conf:/etc/nginx/conf.d/default.conf"
    environment:
      - VIRTUAL_HOST=api.doorsid.com
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=api.doorsid.com
      - LETSENCRYPT_EMAIL=mail@doorsid.com
    expose:
      - 80
