version: '3.7'

volumes:
  db_data:

services:

  db:
    image: postgres
    container_name: db
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - '5432:5432'

  redis:
    image: bitnami/redis:5.0
    container_name: redis
    restart: always
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      # ALLOW_EMPTY_PASSWORD: 1
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DISABLE_COMMANDS: FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'

  # db-test:
  #   image: postgres
  #   restart: always
  #   environment:
  #     POSTGRES_DB: doors_database-test
  #     POSTGRES_USER: vapor_username
  #     POSTGRES_PASSWORD: vapor_password
  #   ports:
  #     - 5433:5432

  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8100:8080
