:root {
	--border: 1px solid var(--foreground-color);
}

html, body {
	height: 100%;
}

.main-container {
	grid-area: main-container;
}

.console-part {
	padding: 10px;
}

.lr-side-container {
	overflow-y: scroll;
}

.left-container {
	grid-area: left-container;
	border-right: var(--border);
}

.right-container {
	grid-area: right-container;
}

.terminal-container {
	height: 30%;
	display: grid;
	grid-area: terminal-container;
	border-top: var(--border);
}

.terminal-log {
	overflow-y: scroll;
	padding-bottom: 10px;
}

.terminal-input {
	height: 30px;
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
	border: var(--border);
}

.root-container {
	display: block;
	height: 100%;
	grid-template-areas:
		'main-container'
		'terminal-container';
}

.main-container {
	display: grid;
	height: 70%;
  grid-auto-columns: 50%;
	grid-template-areas:
		'left-container right-container';
}

.profile-circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#main-container {
	overflow: hidden;
}

#content-container {
	padding: 0;
}
